<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.work.treasurehunt"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="phone" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name="com.work.treasurehunt.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Passcode"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.work.treasurehunt.ZBarScannerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.work.treasurehunt.Q2"
            android:label="@string/title_activity_q2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Q3"
            android:label="@string/title_activity_q3"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Q4"
            android:label="@string/title_activity_q4"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Q5"
            android:label="@string/title_activity_q5"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Q6"
            android:label="@string/title_activity_q6"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Q7"
            android:label="@string/title_activity_q7"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Q8"
            android:label="@string/title_activity_q8"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Q9"
            android:label="@string/title_activity_q9"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Q10"
            android:label="@string/title_activity_q10"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.End"
            android:label="@string/title_activity_end"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Splash"
            android:label="Treasure Hunt"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.work.treasurehunt.Secondscreen"
            android:label="@string/title_activity_secondscreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Rules"
            android:label="@string/title_activity_rules"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.work.treasurehunt.Developers"
            android:label="@string/title_activity_developers"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.work.treasurehunt.EditPuzzles"
            android:label="EditPuzzles"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>